.test {
  background-color: #1e468e;
  height: 150px;
  width: 100%;
}
.file_uploadbtn   {
  border: 3px solid #1e468e;
  color: #1e468e;
  background-color: white;
 padding-left: 10px;
 padding-right: 10px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
  margin-left: 10px;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}

.card{
  border-radius: 30px !important;
 /* box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;*/
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  border-color: rgba(0,0,0,.125) !important;
  min-height: 400px;
}
.heading{
  color:#1e468e !important;
  font-weight: bold;
  font-size: 28px;
  margin-top: 5% !important;
}

.heading2{
  color:#1e468e !important;
  font-weight: bold;
  font-size: 28px;
}
.form-label{
  color:#1e468e !important;
  text-align: left !important;
}

.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.addr{
text-align: left;
}

input {
/* background: #fff;
color: #525865;
border-radius: 4px;
border: 1px solid #d1d1d1;*/
box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.07) !important;
/* font-family: inherit;
font-size: 1em;
line-height: 1.45;
outline: none;
padding: 0.6em 1.45em 0.7em;
-webkit-transition: .18s ease-out;
-moz-transition: .18s ease-out;
-o-transition: .18s ease-out;
transition: .18s ease-out;*/
}
input:hover {
box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.02);
}
input:focus {
color: #4b515d;
border: 1px solid #B8B6B6;
box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.01), 0px 0px 8px rgba(0, 0, 0, 0.2);
}


#progressbar {
margin-bottom: 10px;
overflow: hidden;
counter-reset: step;
font-size: 11px;
font-weight: bold;
width: 100%;
padding-left: 0px;

}

#progressbar li {
list-style-type: none;
text-transform: uppercase;
width: 33.33%;
float: left;
position: relative;
text-align: center;
color: #dad4d4;
}

#progressbar li.active
{
color: #1e468e;
}
#progressbar li:before {
content: counter(step);
counter-increment: step;
border-radius: 100%;
border:3px solid #e5e5e5;
width: 35px;
height: 35px;
line-height: 20px;
display: block;
font-size: 14px;
color: #e5e5e5;
font-weight: bold;
padding-top: 3px;


margin: 0 auto 5px auto;
}


#progressbar li:after {
/*content: '';
width: 100%;
height: 2px;
background: #362f2f !important;
position: absolute;
left: -50%;
top: 9px;
z-index: -1; */

content: '';
  width: 83%;
  height: 2px;
  background: #e5e5e5 !important;
  position: absolute;
  left: -41%;
  top: 15px;
}
#progressbar li:first-child:after {

content: none;
width: 0% !important;
}

#progressbar li.active:before{
background: #fff;
border-radius: 100%;
border:3px solid #1e468e;
width: 35px;
height: 35px;
color: #1e468e;
}

.first_li li.active:after{

}
#progressbar li.active:after {
content: '';
width: 83%;
height: 2px;
background: #1e468e !important;
position: absolute;
left: -41%;
top: 15px;
}

.d-flex {
display: block !important;
padding-top: 6%;
}

.drawer .menu-container .menu-item{
padding: 0.9rem 1rem !important;
font-size: 14px !important;
border-bottom: 1px dotted #eee;
}

.border-primary{
box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
border-color: rgba(0,0,0,.125) !important;
}

hr {
margin-top: 10px !important;
border-top: 1px dotted #b5b5c5 !important;
}

.btn-primary{
background-color: #1e468e !important;
  border-color: #1e468e !important;
}

.col-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xl-6{
padding-bottom: 0rem !important;
padding-top : 0rem !important;
border:0px ​solid #fff !important;
}

.heading_line{
border: 1px solid #f26d21!important;
width: 12%;
text-align: center;
margin-top: 0px !important;
}

.heading_line2{
border: 1px solid #f26d21!important;
width: 5%;
text-align: center;
margin-top: 0px !important;
}

.box_tittle{
width: 100%;
}

.box_tittle h4{
width: 100%;
font-weight: bold;
color: #f26d21;
padding-top: 10px;
padding-bottom: 10px;
}

.css-1okebmr-indicatorSeparator
{
width: 0px !important;
}

.css-tj5bde-Svg{
color:#524f4f;
}

.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td
{
border:0px !important;
}

.table-bordered{
border:0px !important;
}

.table > thead > tr > th{
border-bottom: 2px solid #ddd !important;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
border-top: 1px solid #ddd !important;
}

.table-bordered > thead > tr > th {
border-top: 0px solid #ddd !important;
}

.table-bordered  tr:last-child {
border-bottom: 2px solid #ddd;
}

.btn-gray{
background-color: #687080;
}

.btn-accept{
background-color: #f26a24 !important;
border-color: #f26a24 !important;
border-radius: 20px !important;
font-weight: 700 !important;
}

.btn-reject{
background-color: #fff !important;
border-color: #f26a24 !important;
border:2px solid  !important;
color: #f26a24 !important;
border-radius: 20px !important;
font-weight: 700 !important;
}

.btn-edit{
 border-radius:20px !important;
  border:2px solid #1e468e  !important;
  background-color: #fff !important;
  color: #1e468e !important;
  font-weight: 700 !important;
}


.btn-save{
 border-radius:20px !important;
 background-color: #f26a24 !important;
 border-color: #f26a24 !important;

 font-weight: 700 !important;
}

.btn-upload{
  border-radius:20px !important;
   border:3px solid #1e468e  !important;
   background-color: #fff !important;
   color: #1e468e !important;
  font-weight: 700 !important;
  font-size: 12px !important;
  padding-right: 10px !important;
  padding-left: 10px !important;
  margin-left: 10px;
 }

 small{
  color: #687080;
  font-size: 90%;
 }

 .profile-image {
  border-radius: 10px;
  border: 2px solid #5957f9
}



.post .user-block {
margin-bottom: 15px;
width: 100%;
}

.user-block {
float: left;
}

.img-bordered-sm {
border: 2px solid #adb5bd;
padding: 2px;
}

.img-circle {
border-radius: 50%;
}

.user-block .username {
font-size: 16px;
font-weight: 600;
margin-top: 10px;
}

.username a {
color:#1e468e !important;
}

.user-block img {
float: left;
height: 60px;
width: 60px;
}

.user-block .comment, .user-block .description, .user-block .username {
display: block;
margin-left: 70px;
color: orange !important
}

.ct_title{
color: #1e468e !important;
font-weight: bold;
}

.img_center {

margin-top:80px;
}

.sbt-btn{
font-size:16px !important;
 background-color:#687080;
font-weight:bold !important;
border-radius:20px !important;

}

.root_bg{
background-color: #1e468e;
height: 250px;
width: 100%;
}

.btn-border{
background-color: #fff !important;
border-color: #1e468e !important;
border:2px solid  !important;
color: #1e468e !important;
border-radius: 20px !important;
font-weight: 700 !important;
}

.btn-primarybg{
background-color: #1e468e !important;
border-color: #1e468e !important;
border-radius: 20px !important;
font-weight: 700 !important;
padding-left: 20px !important;
padding-right: 20px !important;
}

.btn-gray{
background-color: #687080 !important;
border-color: #687080 !important;
border-radius: 20px !important;
font-weight: 700 !important;
padding-left: 20px !important;
padding-right: 20px !important;
}



.circle {
position: relative;
display: block;

background-color: transparent;
color: #222;
text-align: center;
}

.circle:after {
display: block;
padding-bottom: 100%;
width: 100%;
height: 0;
border-radius: 50%;
background-color: #fff;
box-shadow: rgb(14 30 37 / 12%) 0px 2px 4px 0px, rgb(14 30 37 / 32%) 0px 2px 16px 0px;
content: "";
}

.circle__inner {
position: absolute;
top: 0;
bottom: 0;
left: 0;
width: 100%;
height: 100%;
}

.circle__wrapper {
display: table;
width: 100%;
height: 100%;
}

.circle__content {
display: table-cell;
vertical-align: middle;
}

@media (min-width: 480px) {
.circle__content {
  font-size: 2em;
}
}

@media (min-width: 768px) {
.circle__content {
  font-size: 42px;
  font-weight: bold;
  line-height: 28px;
  color: #1E468E;
}
}

.sub_text{
font-size:14px;
font-weight:normal;
color: #687080;
}

.dashboard a{
text-decoration: underline;
}

/* dashboard menu icon */
.nav_dashboard a .icon
{

  padding:0.5rem !important;
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
  float: left;
 display: inline-block;
}
.dropdown-menu{
  min-width: auto !important;
}
#dt_dropdown{
  display: inline-block !important;
}

#req_dropdown{
  display: inline-block !important;
}


.nav_dashboard .active  .icon
{

  padding:0.5rem !important;
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
  float: left;
 display: inline-block;
}

.nav_dashboard a:hover .icon
{

  padding:0.5rem !important;
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
  float: left;
 display: inline-block;
}

/* Organization Directory menu icon */
.nav_orgdir a .icon
{

  padding:0.5rem !important;
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
  float: left;
 display: inline-block;
}



.nav_orgdir .active  .icon
{
  padding:0.5rem !important;
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
  float: left;
 display: inline-block;
}

.nav_orgdir a:hover .icon
{

  padding:0.5rem !important;
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
  float: left;
 display: inline-block;
}

/* Registered Organizations menu icon */
.nav_regorg a .icon
{

  padding:0.5rem !important;
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
  float: left;
 display: inline-block;
}



.nav_regorg .active  .icon
{

  padding:0.5rem !important;
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
  float: left;
 display: inline-block;
}

.nav_regorg a:hover .icon
{

  padding:0.5rem !important;
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
  float: left;
 display: inline-block;
}

/* My Organization Profile menu icon */
.nav_orgprof a .icon
{

  padding:0.5rem !important;
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
  float: left;
 display: inline-block;
}



.nav_orgprof .active  .icon
{

  padding:0.5rem !important;
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
  float: left;
 display: inline-block;
}

.nav_orgprof a:hover .icon
{

  padding:0.5rem !important;
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
  float: left;
 display: inline-block;
}

/* My Endpoints menu icon */
.nav_myendpoints a .icon
{

  padding:0.5rem !important;
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
  float: left;
 display: inline-block;
}



.nav_myendpoints .active  .icon
{
  padding:0.5rem !important;
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
  float: left;
 display: inline-block;
}

.nav_myendpoints a:hover .icon
{
  padding:0.5rem !important;
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
  float: left;
 display: inline-block;
}

.container_bg{
padding-left: 0px !important;
}

.cardbg{
background-color: #1e468e;
}

.cardbg .username a{
color: #fff !important;
}

.cardbg p{
color: #fff !important;
}


.cardbg .ct_title{
color: orange !important;
}

.cardbg label{
color: orange !important;
margin-top: 10px;
}

.next_btn{
width: 20% !important;
float:right;
 margin-top:2%;
  background-color:#687080;
   border-block-color:#687080;
    font-weight:bold !important;
     border-radius:20px !important;
     margin-right: 5% !important;
}


.prev_btn{
width: 20% !important;
float:left;
 margin-top:2%;
  background-color:#fff !important;
  border:2px solid #1e468e !important;
  color: #1e468e !important;
   border-block-color:#687080;
    font-weight:bold !important;
     border-radius:20px !important;
     margin-right: 5% !important;
}

.org_btn {
width: 20% !important;
float: right;
margin-top: 2%;
background-color: #f26a24 !important;
border-color: #F26A24 !important;
font-weight: bold !important;
border-radius: 20px !important;
margin-right: 5% !important;
}

.react-bootstrap-table-pagination .col-md-6{
  text-align: left !important;

}
#container {
  padding-right: 0px !important;
  padding-left: 250px !important;
}
.show {
  display: inline-block !important;
}
