.container {
  padding-right: 0px !important;
  padding-left: 150px !important;
}



.test {
  background-color: #1e468e;
}

.image{
  display: inline-block;
  padding-left: 0.8rem;
}

.img-circle {
  border: 2px solid #585252;
}

.profile_heading{
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}
  

.info a{
  color: orange !important;
  font-size: 14px;
  font-weight: 500;
  margin-top: 3px;

}

.row-centered {
  text-align:center;
  display:flex !important;
  justify-content: center;
  margin-bottom:20px;
  }

  .filter_label{
    font-weight: bold;
    color: #1e468e;
  }

.search_btn{
  font-size: 15px !important;
    font-weight: 700 !important;
    
    border-radius: 3rem !important;
    overflow: hidden !important;
    color: #fff !important;

}

.row-centered input, select {
  box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px !important;
}

.tab-pane{
  opacity: 1 !important;
  padding-top: 15px;
}

.nav-tabs .nav-link{
  border: 0px solid transparent !important;
  color: #838b8d;
    font-weight: bold;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  border-bottom: 2px solid #1e468e !important;
  font-weight: bold;
  color: #1e468e;
}

.view_tbl{
  width: auto !important;
  
}
.view_tbl td{
  border-top: 0px solid #ddd !important;
  padding-top: 6px !important;
    padding-bottom: 6px !important;
}

.view_tbl strong{
  color: #1e468e !important;
}
table th{
  color: #1e468e;
}