.container {
  padding-right: 0px !important;
  padding-left: 150px !important;
}



.test {
  background-color: #1e468e;
}

.image{
  display: inline-block;
  padding-left: 0.8rem;
}

.img-circle {
  border: 2px solid #585252;
}

.profile_heading{
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}


.info a{
  color: orange !important;
  font-size: 14px;
  font-weight: 500;
  margin-top: 3px;

}

.row-centered {
  text-align:center;
  display:flex !important;
  justify-content: center;
  margin-bottom:20px;
  }

  .filter_label{
    font-weight: bold;
    color: #1e468e;
  }

.search_btn{
  font-size: 15px !important;
    font-weight: 700 !important;

    border-radius: 3rem !important;
    overflow: hidden !important;
    color: #fff !important;

}

.row-centered input, select {
  box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px !important;
}

.tab-pane{
  opacity: 1 !important;
  padding-top: 15px;
}

.nav-tabs .nav-link{
  border: 0px solid transparent !important;
  color: #838b8d;
    font-weight: bold;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  border-bottom: 2px solid #1e468e !important;
  font-weight: bold;
  color: #1e468e;
}

.view_tbl{
  width: auto !important;

}
.view_tbl td{
  border-top: 0px solid #ddd !important;
  padding-top: 6px !important;
    padding-bottom: 6px !important;
}
.file_uploadbtn   {
  border: 3px solid #1e468e;
  color: #1e468e;
  background-color: white;
 padding-left: 10px;
 padding-right: 10px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
  margin-left: 10px;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}

.view_tbl strong{
  color: #1e468e !important;
}
table th{
  color: #1e468e;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Select some files';
  display: inline-block;
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}